*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-transform: uppercase;
}

.bdy{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(19, 18, 18, 0.502),rgba(19, 18, 18,0.5)),url(./pexels-stephan-seeber-1054201.jpg);
    background-position: center;
    background-size: cover;

}